In [36]:
import pandas as pd
import os
from scipy.sparse import csr_matrix
import sklearn as sk
from sklearn.metrics.pairwise import pairwise_distances
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\enabi\\OneDrive\\Desktop\\11182022\\DS_apply\\Projects_for_github\\Recommonder_system\\Recommender_system'

In [3]:
df_user_ratedmovies_timestamps= pd.read_csv('all/user_ratedmovies-timestamps.dat', sep='\t', encoding='ISO-8859-1')

In [4]:
df_user_ratedmovies_timestamps.head()

   userID  movieID  rating      timestamp
0      75        3     1.0  1162160236000
1      75       32     4.5  1162160624000
2      75      110     4.0  1162161008000
3      75      160     2.0  1162160212000
4      75      163     4.0  1162160970000

In [5]:
# Obtain the ratings corresponding to some user, More specifically, use the following user IDs: 75, 14454, and 22035

df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID'].isin([75, 14454, 22035]),:]

        userID  movieID  rating      timestamp
0           75        3     1.0  1162160236000
1           75       32     4.5  1162160624000
2           75      110     4.0  1162161008000
3           75      160     2.0  1162160212000
4           75      163     4.0  1162160970000
...        ...      ...     ...            ...
262698   22035     7044     4.0  1106800437000
262699   22035     8207     4.0  1111441710000
262700   22035     8830     0.5  1106800996000
262701   22035    30894     4.0  1106663752000
262702   22035    49272     5.0  1165499448000

[1188 rows x 4 columns]

In [6]:
# Obtain the items rated by the previous users.

df_movies= pd.read_csv('all/movies.dat', sep='\t', encoding='ISO-8859-1')

In [7]:
df_movies.head()

,id,title,imdbID,spanishTitle,imdbPictureURL,year,rtID,rtAllCriticsRating,rtAllCriticsNumReviews,rtAllCriticsNumFresh,...,rtAllCriticsScore,rtTopCriticsRating,rtTopCriticsNumReviews,rtTopCriticsNumFresh,rtTopCriticsNumRotten,rtTopCriticsScore,rtAudienceRating,rtAudienceNumRatings,rtAudienceScore,rtPictureURL
0,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995,toy_story,9,73,73,...,100,8.5,17,17,0,100,3.7,102338,81,http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji,113497,Jumanji,http://ia.media-imdb.com/images/M/MV5BMzM5NjE1...,1995,1068044-jumanji,5.6,28,13,...,46,5.8,5,2,3,40,3.2,44587,61,http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men,107050,Dos viejos gruÃ±ones,http://ia.media-imdb.com/images/M/MV5BMTI5MTgy...,1993,grumpy_old_men,5.9,36,24,...,66,7,6,5,1,83,3.2,10489,66,http://content6.flixster.com/movie/25/60/25602...
3,4,Waiting to Exhale,114885,Esperando un respiro,http://ia.media-imdb.com/images/M/MV5BMTczMTMy...,1995,waiting_to_exhale,5.6,25,14,...,56,5.5,11,5,6,45,3.3,5666,79,http://content9.flixster.com/movie/10/94/17/10...
4,5,Father of the Bride Part II,113041,Vuelve el padre de la novia (Ahora tambiÃ©n abu...,http://ia.media-imdb.com/images/M/MV5BMTg1NDc2...,1995,father_of_the_bride_part_ii,5.3,19,9,...,47,5.4,5,1,4,20,3,13761,64,http://content8.flixster.com/movie/25/54/25542...

In [8]:
# Obtain the items rated by the previous users.

In [9]:
df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID'].isin([75, 14454, 22035]), 'movieID']

0             3
1            32
2           110
3           160
4           163
          ...
262698     7044
262699     8207
262700     8830
262701    30894
262702    49272
Name: movieID, Length: 1188, dtype: int64

In [10]:
list(df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID'].isin([75, 14454, 22035]), 'movieID'])

[3,
 32,
 110,
 160,
 163,
 165,
 173,
 296,
 353,
 420,
 589,
 653,
 832,
 920,
 996,
 1036,
 1127,
 1215,
 1233,
 1304,
 1370,
 1374,
 1485,
 1527,
 1917,
 2011,
 2054,
 2058,
 2490,
 2571,
 2640,
 2688,
 2700,
 2762,
 2959,
 3258,
 3793,
 3889,
 3994,
 4993,
 5107,
 5833,
 5952,
 6213,
 6225,
 6333,
 7000,
 7007,
 7153,
 32029,
 32587,
 33437,
 39052,
 45431,
 45722,
 1,
 16,
 18,
 19,
 21,
 29,
 32,
 36,
 39,
 42,
 45,
 47,
 50,
 65,
 68,
 69,
 70,
 88,
 95,
 101,
 107,
 110,
 111,
 112,
 117,
 145,
 150,
 153,
 157,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 173,
 175,
 176,
 180,
 183,
 185,
 194,
 196,
 198,
 213,
 223,
 231,
 233,
 235,
 246,
 247,
 253,
 260,
 266,
 268,
 288,
 290,
 292,
 293,
 296,
 300,
 308,
 318,
 319,
 326,
 337,
 344,
 349,
 350,
 352,
 353,
 354,
 355,
 356,
 360,
 364,
 367,
 371,
 372,
 373,
 376,
 377,
 380,
 382,
 410,
 413,
 423,
 427,
 432,
 434,
 435,
 436,
 440,
 441,
 442,
 444,
 450,
 454,
 455,
 456,
 457,
 461,
 466,
 474,
 475,
 480,
 482,
 485,
 491,
 492,
 493,
 500,
 501,
 507,
 517,
 524,
 529,
 532,
 535,
 537,
 551,
 553,
 555,
 562,
 574,
 586,
 587,
 588,
 589,
 592,
 593,
 595,
 596,
 599,
 608,
 616,
 648,
 668,
 680,
 704,
 714,
 735,
 736,
 745,
 750,
 766,
 778,
 780,
 784,
 785,
 788,
 800,
 805,
 851,
 858,
 861,
 866,
 872,
 877,
 903,
 904,
 908,
 919,
 923,
 924,
 940,
 953,
 996,
 1012,
 1015,
 1020,
 1022,
 1025,
 1027,
 1029,
 1032,
 1033,
 1035,
 1036,
 1051,
 1054,
 1057,
 1059,
 1073,
 1078,
 1084,
 1089,
 1092,
 1093,
 1096,
 1097,
 1101,
 1114,
 1120,
 1126,
 1127,
 1136,
 1147,
 1148,
 1161,
 1164,
 1175,
 1178,
 1179,
 1186,
 1189,
 1190,
 1193,
 1196,
 1197,
 1198,
 1200,
 1203,
 1206,
 1207,
 1210,
 1211,
 1212,
 1213,
 1214,
 1217,
 1219,
 1220,
 1221,
 1222,
 1223,
 1228,
 1232,
 1235,
 1237,
 1240,
 1243,
 1244,
 1248,
 1251,
 1252,
 1254,
 1258,
 1259,
 1260,
 1265,
 1266,
 1267,
 1270,
 1273,
 1276,
 1279,
 1282,
 1284,
 1285,
 1287,
 1291,
 1299,
 1300,
 1302,
 1305,
 1320,
 1333,
 1339,
 1340,
 1343,
 1344,
 1346,
 1347,
 1358,
 1361,
 1370,
 1374,
 1377,
 1387,
 1394,
 1396,
 1405,
 1407,
 1408,
 1411,
 1441,
 1447,
 1459,
 1464,
 1466,
 1483,
 1485,
 1500,
 1509,
 1513,
 1517,
 1544,
 1572,
 1573,
 1580,
 1594,
 1608,
 1613,
 1617,
 1627,
 1635,
 1644,
 1649,
 1660,
 1663,
 1672,
 1673,
 1682,
 1693,
 1699,
 1704,
 1719,
 1729,
 1732,
 1769,
 1788,
 1805,
 1809,
 1816,
 1827,
 1840,
 1859,
 1875,
 1883,
 1884,
 1885,
 1904,
 1912,
 1914,
 1916,
 1921,
 1923,
 1941,
 1953,
 1955,
 1965,
 1982,
 1992,
 1997,
 2003,
 2004,
 2010,
 2011,
 2012,
 2018,
 2019,
 2022,
 2024,
 2028,
 2046,
 2048,
 2054,
 2064,
 2066,
 2072,
 2076,
 2078,
 2081,
 2082,
 2083,
 2084,
 2085,
 2088,
 2090,
 2094,
 2096,
 2105,
 2106,
 2115,
 2124,
 2137,
 2141,
 2155,
 2160,
 2161,
 2165,
 2174,
 2182,
 2186,
 2193,
 2232,
 2249,
 2253,
 2259,
 2268,
 2275,
 2282,
 2284,
 2291,
 2302,
 2313,
 2318,
 2324,
 2329,
 2333,
 2335,
 2348,
 2351,
 2391,
 2395,
 2396,
 2420,
 2421,
 2422,
 2423,
 2427,
 2435,
 2439,
 2440,
 2450,
 2458,
 2459,
 2467,
 2478,
 2500,
 2502,
 2542,
 2551,
 2571,
 2580,
 2599,
 2600,
 2616,
 2640,
 2641,
 2643,
 2657,
 2683,
 2692,
 2699,
 2700,
 2702,
 2706,
 2710,
 2712,
 2716,
 2717,
 2726,
 2731,
 2746,
 2770,
 2794,
 2797,
 2798,
 2799,
 2803,
 2804,
 2822,
 2846,
 2848,
 2858,
 2871,
 2890,
 2908,
 2916,
 2918,
 2925,
 2947,
 2948,
 2949,
 2953,
 2959,
 2964,
 2966,
 2968,
 2970,
 2972,
 2976,
 2985,
 2987,
 2989,
 2991,
 2993,
 2997,
 3000,
 3002,
 3007,
 3019,
 3020,
 3030,
 3033,
 3034,
 3046,
 3052,
 3067,
 3089,
 3090,
 3091,
 3093,
 3100,
 3134,
 3135,
 3152,
 3160,
 3168,
 3173,
 3174,
 3176,
 3178,
 3182,
 3210,
 3243,
 3246,
 3249,
 3252,
 3253,
 3254,
 3255,
 3256,
 3261,
 3262,
 3263,
 3266,
 3267,
 3271,
 3274,
 3298,
 3310,
 3328,
 3360,
 3362,
 3363,
 3387,
 3388,
 3396,
 3397,
 3398,
 3399,
 3412,
 3415,
 3422,
 3423,
 3424,
 3438,
 3439,
 3462,
 3481,
 3489,
 3499,
 3504,
 3509,
 3526,
 3535,
 3536,
 3551,
 3556,
 3584,
 3598,
 3608,
 3632,
 3638,
 3639,
 3668,
 3676,
 3679,
 3683,
 3698,
 3705,
 3706,
 3723,
 3728,
 3730,
 3741,
 3742,
 3751,
 3752,
 3753,
 3755,
 3765,
 3783,
 3794,
 3801,
 3809,
 3868,
 3869,
 3871,
 3882,
 3886,
 3897,
 3925,
 3948,
 3949,
 3984,
 3996,
 4011,
 4027,
 4029,
 4034,
 4037,
 4090,
 4104,
 4133,
 4178,
 4207,
 4218,
 4226,
 4235,
 4252,
 4255,
 4267,
 4278,
 4298,
 4306,
 4308,
 4321,
 4345,
 4351,
 4356,
 4369,
 4378,
 4426,
 4446,
 4450,
 4477,
 4479,
 4502,
 4518,
 4519,
 4544,
 4545,
 4558,
 4571,
 4586,
 4605,
 4613,
 4621,
 4624,
 4641,
 4649,
 4654,
 4673,
 4677,
 4678,
 4679,
 4719,
 4734,
 4754,
 4765,
 4782,
 4787,
 4794,
 4844,
 4848,
 4878,
 4881,
 4903,
 4914,
 4929,
 4979,
 4980,
 4989,
 4993,
 5009,
 5010,
 5013,
 5056,
 5058,
 5074,
 5080,
 5103,
 5121,
 5147,
 5225,
 5258,
 5265,
 5291,
 5292,
 5308,
 5339,
 5361,
 5373,
 5417,
 5438,
 5444,
 5446,
 5454,
 5473,
 5498,
 5506,
 5508,
 5516,
 5528,
 5541,
 5584,
 5605,
 5608,
 5619,
 5632,
 5641,
 5666,
 5669,
 5673,
 5690,
 5785,
 5791,
 5792,
 5893,
 5902,
 5932,
 5940,
 5951,
 5954,
 5970,
 5995,
 6001,
 6008,
 6016,
 6021,
 6023,
 6166,
 6184,
 6197,
 6214,
 6286,
 6305,
 6335,
 6339,
 6380,
 6433,
 6440,
 6460,
 6502,
 6552,
 6584,
 6620,
 6643,
 6658,
 6659,
 6666,
 6669,
 6701,
 6711,
 6743,
 6755,
 6773,
 6774,
 6794,
 6796,
 6858,
 6863,
 6869,
 6870,
 6874,
 6890,
 6953,
 6957,
 6966,
 6975,
 6979,
 6985,
 6987,
 7000,
 7004,
 7005,
 7008,
 7009,
 7013,
 7030,
 7043,
 7045,
 7063,
 7071,
 7123,
 7126,
 7135,
 7146,
 7156,
 7160,
 7256,
 7297,
 7318,
 7335,
 7361,
 7364,
 7371,
 7386,
 7438,
 7442,
 7460,
 7482,
 7487,
 7587,
 7637,
 7748,
 7749,
 7766,
 7790,
 7820,
 7836,
 7926,
 7934,
 7938,
 7990,
 8010,
 8015,
 8042,
 8125,
 8126,
 8154,
 8195,
 8196,
 8197,
 8239,
 8364,
 8376,
 8464,
 8491,
 8507,
 8602,
 8607,
 8608,
 8610,
 8618,
 8622,
 8623,
 8633,
 8656,
 8684,
 8784,
 8874,
 8880,
 8910,
 8929,
 8938,
 8949,
 9004,
 9018,
 25753,
 25805,
 25940,
 26094,
 26131,
 26150,
 26680,
 26974,
 27834,
 27838,
 27846,
 27912,
 32375,
 33085,
 33164,
 33166,
 33683,
 34148,
 34153,
 34162,
 34530,
 34542,
 37733,
 38038,
 38886,
 39292,
 39381,
 40851,
 41569,
 24,
 25,
 32,
 36,
 50,
 150,
 187,
 223,
 260,
 290,
 293,
 296,
 334,
 353,
 356,
 357,
 446,
 448,
 457,
 480,
 515,
 521,
 527,
 541,
 587,
 589,
 592,
 593,
 608,
 615,
 648,
 708,
 750,
 780,
 836,
 858,
 866,
 908,
 919,
 923,
 924,
 968,
 1012,
 1028,
 1036,
 1079,
 1084,
 1089,
 1090,
 1092,
 1097,
 1127,
 1131,
 1132,
 1136,
 1173,
 1179,
 1188,
 1189,
 1193,
 1198,
 1200,
 1201,
 1208,
 1213,
 1214,
 1221,
 1228,
 1230,
 1233,
 1238,
 1240,
 1247,
 1251,
 1252,
 1258,
 1259,
 1262,
 1265,
 1266,
 1270,
 1272,
 1276,
 1280,
 1292,
 1295,
 1299,
 1304,
 1321,
 1343,
 1387,
 1388,
 ...]

In [11]:
df_movies.loc[df_movies['id'].isin(list(df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID'].isin([75, 14454, 22035]), 'movieID'])) ,'title']

0                                        Toy story
2                                   Grumpy Old Men
15                                          Casino
17                                      Four Rooms
18                  Ace Ventura: When Nature Calls
                           ...
8964                    Zathura: A Space Adventure
8987                                     King Kong
9135                                Over the Hedge
9154    Pirates of the Caribbean: Dead Man's Chest
9323                                 Casino Royale
Name: title, Length: 1048, dtype: object

In [12]:
# Obtain the items rated by the user 75

In [13]:
# Obtain the id of the items rated by the user 75
df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID']==75, 'movieID']

0         3
1        32
2       110
3       160
4       163
5       165
6       173
7       296
8       353
9       420
10      589
11      653
12      832
13      920
14      996
15     1036
16     1127
17     1215
18     1233
19     1304
20     1370
21     1374
22     1485
23     1527
24     1917
25     2011
26     2054
27     2058
28     2490
29     2571
30     2640
31     2688
32     2700
33     2762
34     2959
35     3258
36     3793
37     3889
38     3994
39     4993
40     5107
41     5833
42     5952
43     6213
44     6225
45     6333
46     7000
47     7007
48     7153
49    32029
50    32587
51    33437
52    39052
53    45431
54    45722
Name: movieID, dtype: int64

In [14]:
# Obtain the name of the items rated by the user 75
df_movies.loc[df_movies['id'].isin(list(df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID']==75, 'movieID'])) ,'title']

2                                          Grumpy Old Men
31                                         Twelve Monkeys
105                                            Braveheart
151                                                 Congo
154                                             Desperado
156                            Die Hard: With a Vengeance
164                                           Judge Dredd
285                                          Pulp Fiction
340                                              The Crow
403                                 Beverly Hills Cop III
566                            Terminator 2: Judgment Day
623                                           DragonHeart
766                                                Ransom
839                                    Gone with the Wind
909                                     Last Man Standing
949                                              Die Hard
1028                                            The Abyss
1103                                     Army of Darkness
1120                                             Das Boot
1189                   Butch Cassidy and the Sundance Kid
1246                                             Die Hard
1250                         Star Trek: The Wrath of Khan
1344                                            Liar Liar
1378                                    The Fifth Element
1711                                           Armageddon
1805                           Back to the Future Part II
1848                             Honey, I Shrunk the Kids
1852                                       The Negotiator
2271                                              Payback
2350                                           The Matrix
2416                                             Superman
2460                               The General's Daughter
2471                    South Park: Bigger Longer & Uncut
2531                                      The Sixth Sense
2724                                           Fight Club
3006                                    Death Becomes Her
3508                                                X-Men
3600                                  Highlander: Endgame
3702                                          Unbreakable
4679    The Lord of the Rings: The Fellowship of the Ring
4792                                           Hart's War
5496                                         Dog Soldiers
5606                The Lord of the Rings: The Two Towers
5855                                     Tears of the Sun
5867                                        King of Kings
5973                                                   X2
6610                                          Hudson Hawk
6617                                   The Last Boy Scout
6760        The Lord of the Rings: The Return of the King
8585                                              Hostage
8660                                             Sin City
8728                                        Danny the Dog
8907                        Star Wreck: In the Pirkinning
9135                                       Over the Hedge
9154           Pirates of the Caribbean: Dead Man's Chest
Name: title, dtype: object

In [15]:
# Obtain the items rated by the user 14454

In [16]:
# Obtain the id of the items rated by the user 14454
df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID']==14454, 'movieID']

169927        1
169928       16
169929       18
169930       19
169931       21
          ...
170775    38886
170776    39292
170777    39381
170778    40851
170779    41569
Name: movieID, Length: 853, dtype: int64

In [17]:
# Obtain the name of the items rated by the user 14454
df_movies.loc[df_movies['id'].isin(list(df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID']==14454, 'movieID'])) ,'title']

0                            Toy story
15                              Casino
17                          Four Rooms
18      Ace Ventura: When Nature Calls
20                          Get Shorty
                     ...
8904           The Squid and the Whale
8911        Good Night, and Good Luck.
8914                   The Proposition
8964        Zathura: A Space Adventure
8987                         King Kong
Name: title, Length: 853, dtype: object

In [18]:
# Obtain the items rated by the user 22035

In [19]:
# Obtain the id of the items rated by the user 22035
df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID']==22035, 'movieID']

262423       24
262424       25
262425       32
262426       36
262427       50
          ...
262698     7044
262699     8207
262700     8830
262701    30894
262702    49272
Name: movieID, Length: 280, dtype: int64

In [20]:
# Obtain the name of the items rated by the user 22035
df_movies.loc[df_movies['id'].isin(list(df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID']==22035, 'movieID'])) ,'title']

23                                        Powder
24                             Leaving Las Vegas
31                                Twelve Monkeys
35                              Dead Man Walking
49                            The Usual Suspects
                          ...
6654                               Wild at Heart
7383                       The Day of the Jackal
7801    Anacondas: The Hunt for the Blood Orchid
8446                                 White Noise
9323                               Casino Royale
Name: title, Length: 280, dtype: object

In [21]:
#Create a sparse matrix based on the previous information, This matrix will include each user as a row, and the items will be the columns
df_user = df_user_ratedmovies_timestamps.loc[df_user_ratedmovies_timestamps['userID'].isin([75, 14454, 22035]),:]

In [22]:
df_user

        userID  movieID  rating      timestamp
0           75        3     1.0  1162160236000
1           75       32     4.5  1162160624000
2           75      110     4.0  1162161008000
3           75      160     2.0  1162160212000
4           75      163     4.0  1162160970000
...        ...      ...     ...            ...
262698   22035     7044     4.0  1106800437000
262699   22035     8207     4.0  1111441710000
262700   22035     8830     0.5  1106800996000
262701   22035    30894     4.0  1106663752000
262702   22035    49272     5.0  1165499448000

[1188 rows x 4 columns]

In [23]:
matrix = df_user.pivot(index='userID', columns='movieID', values='rating')

In [24]:
matrix

movieID,1,3,16,18,19,21,24,25,29,32,...,38038,38886,39052,39292,39381,40851,41569,45431,45722,49272
userID,,,,,,,,,,,,,,,,,,,,,
75,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,3.5,NaN,NaN,NaN,NaN,3.5,4.5,NaN
14454,2.5,NaN,3.0,1.0,1.0,3.0,NaN,NaN,3.5,3.5,...,3.0,3.5,NaN,2.5,3.5,2.0,3.0,NaN,NaN,NaN
22035,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [25]:
# creating the same matrix while the name of the movies are replaced by the id of movies:

new_columns = dict(zip(df_movies['id'], df_movies['title']))
df1 = matrix.rename(columns=new_columns)

In [26]:
df1

movieID,Toy story,Grumpy Old Men,Casino,Four Rooms,Ace Ventura: When Nature Calls,Get Shorty,Powder,Leaving Las Vegas,La citÃ© des enfants perdus,Twelve Monkeys,...,Wallace & Gromit in The Curse of the Were-Rabbit,The Squid and the Whale,Star Wreck: In the Pirkinning,"Good Night, and Good Luck.",The Proposition,Zathura: A Space Adventure,King Kong,Over the Hedge,Pirates of the Caribbean: Dead Man's Chest,Casino Royale
userID,,,,,,,,,,,,,,,,,,,,,
75,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,3.5,NaN,NaN,NaN,NaN,3.5,4.5,NaN
14454,2.5,NaN,3.0,1.0,1.0,3.0,NaN,NaN,3.5,3.5,...,3.0,3.5,NaN,2.5,3.5,2.0,3.0,NaN,NaN,NaN
22035,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [27]:
matrix_zero= df1.copy()

In [34]:
# Compute a similarity function based on the user information encoded in the previous matrix.
# cosine_similarity from the sklearn library

matrix_zero.fillna(0, inplace=True)
Matt =matrix_zero.values
sparse_matrix = csr_matrix(Matt)
sk.metrics.pairwise.cosine_similarity(sparse_matrix, Y=None, dense_output=True)

array([[1.        , 0.09606587, 0.12122035],
       [0.09606587, 1.        , 0.24952283],
       [0.12122035, 0.24952283, 1.        ]])

In [37]:
# implement your own version of this similarity function


# calculate dot product between rows of the sparse matrix
dot_products = sparse_matrix.dot(sparse_matrix.T)

# calculate Euclidean norm of rows of the sparse matrix
row_norms = np.sqrt(np.sum(np.square(Matt), axis=1))

# calculate cosine similarity
cosine_similarity = dot_products.multiply(1 / row_norms).T.multiply(1 / row_norms)

In [39]:
print(cosine_similarity)

  (0, 0)	1.0
  (0, 1)	0.09606587350870287
  (0, 2)	0.12122035158657601
  (1, 0)	0.09606587350870285
  (1, 1)	0.9999999999999999
  (1, 2)	0.2495228275432249
  (2, 0)	0.12122035158657601
  (2, 1)	0.24952282754322494
  (2, 2)	1.0

In [40]:
# Jaccard or correlation

# Jaccard
binary_matrix = matrix.notnull().astype('int')

# calculate Jaccard similarity matrix
jaccard_sim_matrix = 1 - pairwise_distances(binary_matrix.values, metric='jaccard')

C:\Users\enabi\anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:1875: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

In [41]:
jaccard_sim_matrix

array([[1.        , 0.0259887 , 0.046875  ],
       [0.0259887 , 1.        , 0.10644531],
       [0.046875  , 0.10644531, 1.        ]])

In [42]:
# Compute the correlation matrix using pairwise_distances
correlation_matrix = pairwise_distances(sparse_matrix.toarray(), metric='correlation')

In [43]:
correlation_matrix

array([[0.        , 1.18640365, 0.98442244],
       [1.18640365, 0.        , 1.3967668 ],
       [0.98442244, 1.3967668 , 0.        ]])